<div class="container mt-5">
  <div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2> <%= @booking.location.name %></h2>
      <p> <%= @booking.arrival %></p>
      <p><%= @booking.departure %></p>

      <%= link_to "index", bookings_path %>
          <%= link_to " edit", edit_booking_path %>
        <%= link_to " delete",
          booking_path(@booking),
                    method: :delete,
                    data: { confirm: "Are you sure?"} %>
    </div>
    <h2 class="card-trip-pricing">Price/ Night: <%= @booking.location.price_per_night %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
</div>
